<a href="https://colab.research.google.com/github/18B01A0234/bungeeAssignment/blob/main/question1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [32]:
path = 'https://raw.githubusercontent.com/Bungeetech/internship-test2/master/input/question-1/main.csv'
data = pd.read_csv(path)

In [33]:
d = data.groupby(data.Year//10 * 10).sum()
d['Population'] = data.groupby(data.Year//10*10)['Population'].max()
d = d.drop('Year',axis = 1)
d = d.drop('Total',axis = 1)
d

      Population   Violent   Property  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                   ...
1960   201385000   4134930   45160900  ...  13321100       26547700        5292100
1970   220099000   9607930   91383800  ...  28486000       53157800        9739900
1980   248239000  14074328  117048900  ...  33073494       72040253       11935411
1990   272690813  17527048  119053499  ...  26750015       77679366       14624418
2000   307006550  13968056  100944369  ...  21565176       67970291       11412834
2010   318857056   6072017   44095950  ...  10125170       30401698        3569080

[6 rows x 10 columns]